[[prompts]]
triggers = ["are you there"]
prompt = "yup <author>, I'm here!"

[[prompts]]
triggers = ["say hi", "say hi to <target>"]
prompt = "hi <target>"
defaults = { target = "<author>" }

[[prompts]]
triggers = ["give me a cactus fact"]
prompt = "Did you know..."
answers = ["cactus are pokey", "cacti or cactus?", "cactus are us"]
